<div class="chi-tiet-tin-tuc">
      <div class="grid">
            <div class="col-12">
                  <p-breadcrumb [model]="items"></p-breadcrumb>
                  <p-tabView>
                        <div class="grid mt-2">
                              <div class="col-4 avatar">
                                    <img [src]=" UrlImg ? UrlImg : '../../../../../../assets/images/empty-image.png'"
                                          alt="avatar" style="width:100%">
                                    <label for="uploadfile" (click)="showLibraryDialog()">
                                          <i class="pi pi-upload"></i>
                                          Ảnh đại diện
                                    </label>
                                    <p-dialog header="Chọn Media" appendTo="body" [(visible)]="showLibrary"
                                          [modal]="true" [style]="{width: '80vw', height: '50vw'}" [baseZIndex]="10000"
                                          [draggable]="false" [resizable]="false">
                                          <app-thu-vien (selecteImg)="selectedImages($event)"></app-thu-vien>
                                    </p-dialog>
                              </div>
                              <div class="col-8 pl-5">
                                    <form class="p-fluid" (ngSubmit)="onSave(saveform)" #saveform="ngForm">
                                          <div class="grid">
                                                <div class="col-6">
                                                      <span class="p-float-label p-input-icon-right">
                                                            <i class="pi pi-user"></i>
                                                            <input id="float-input" type="text" name="userName" [(ngModel)] = "account.userName" required #userNameForm="ngModel" pInputText>
                                                            <label for="float-input" [ngClass]="{'invalid' : submited && userNameForm.errors?.required}">Tài khoản đăng nhập<span
                                                                        class="text-red-500"> *</span></label>
                                                      </span>
                                                      <small *ngIf="submited && userNameForm.errors?.required || (userNameForm.errors?.required && userNameForm.touched)"
                                                            class="p-error">Vui lòng nhập Tên đăng nhập </small>
                                                </div>
                                                <div class="col-6">
                                                      <span class="p-float-label p-input-icon-right">
                                                            <i class="pi pi-user"></i>
                                                            <input id="float-input" type="text" name="passWord" [(ngModel)] = "account.password" required #passWordForm="ngModel" pInputText>
                                                            <label for="float-input" [ngClass]="{'invalid' : submited && passWordForm.errors?.required}"> Mật khẩu <span
                                                                        class="text-red-500"> *</span></label>
                                                      </span>
                                                      <small *ngIf="submited && passWordForm.errors?.required || (passWordForm.errors?.required && passWordForm.touched)"
                                                            class="p-error">Vui lòng nhập Mật khẩu</small>
                                                </div>
                                                <div class="col-6 mt-3">
                                                      <span class="p-float-label p-input-icon-right">
                                                            <i class="pi pi-user"></i>
                                                            <input id="float-input" type="text" name="firstName" [(ngModel)] = "account.firstName" pInputText>
                                                            <label for="float-input">Họ <span class="text-red-500">
                                                                        *</span></label>
                                                      </span>
                                                </div>
                                                <div class="col-6 mt-3">
                                                      <span class="p-float-label p-input-icon-right">
                                                            <i class="pi pi-user"></i>
                                                            <input id="float-input" type="text" name="lastName" [(ngModel)] = "account.lastName" pInputText>
                                                            <label for="float-input">Tên<span class="text-red-500">
                                                                        *</span></label>
                                                      </span>
                                                </div>
                                                <div class="col-6 mt-3">
                                                      <span class="p-float-label p-input-icon-right">
                                                            <i class="pi pi-user"></i>
                                                            <input id="float-input" type="email" name="email" [(ngModel)] = "account.email" email required #Email="ngModel" pInputText>
                                                            <label for="float-input">Email<span class="text-red-500">
                                                                        *</span></label>
                                                      </span>
                                                      <small *ngIf="submited && Email.errors?.required || (Email.errors?.required && Email.touched )"
                                                            class="p-error">Vui lòng nhập Email </small>
                                                      <small *ngIf="Email.errors?.email"
                                                            class="p-error"> Vui lòng nhập đúng định dạng Email </small>
                                                </div>
                                                <div class="col-6 mt-3">
                                                      <span class="p-float-label p-input-icon-right">
                                                            <i class="pi pi-user"></i>
                                                            <input id="float-input" type="text" name="phone" [(ngModel)] = "account.phone" required #phoneNumber="ngModel" pInputText>
                                                            <label for="float-input">Số điện thoại <span
                                                                        class="text-red-500"> *</span></label>
                                                      </span>
                                                      <small *ngIf="submited && phoneNumber.errors?.required || (phoneNumber.errors?.required && phoneNumber.touched)" 
                                                            class="p-error">Vui lòng nhập Số điện thoại </small>
                                                </div>
                                                <div class="col-6 mt-3">
                                                      <span class="p-float-label p-input-icon-right">
                                                            <i class="pi pi-user"></i>
                                                            <input id="float-input" type="text" name="identityNo" [(ngModel)] = "account.identityNo" pInputText>
                                                            <label for="float-input">CMND/ CCCD <span
                                                                        class="text-red-500"> *</span></label>
                                                      </span>
                                                </div>
                                                <div class="col-6 mt-3">
                                                      <span class="p-float-label p-input-icon-right">
                                                            <i class="pi pi-user"></i>
                                                            <input id="float-input" type="text" name="className" [(ngModel)] = "account.className" pInputText>
                                                            <label for="float-input">Lớp<span class="text-red-500">
                                                                        *</span></label>
                                                      </span>
                                                </div>
                                                <div class="col-6 mt-3">
                                                      <div class="field mt-3">
                                                            <span class="p-float-label p-input-icon-right">
                                                                  <p-calendar [showIcon]="true" [(ngModel)] = "account.birthday"
                                                                        placeholder="Chọn ngày sinh"></p-calendar>
                                                            </span>
                                                      </div>

                                                </div>
                                                <div class="col-6 mt-3">
                                                      <div class="field mt-3">
                                                            <span class="p-float-label p-input-icon-right">
                                                                  <p-dropdown [options]="dataDropdown"
                                                                        optionLabel="Name" id='intOrorderer'
                                                                        optionValue="Id"
                                                                        name='userId'
                                                                        [(ngModel)]="account.userId"
                                                                        emptyMessage="Không có quyền nào"
                                                                  >                                                        
                                                                  </p-dropdown>
                                                                  <label for="intOrorderer" class="">Quyền</label>
                                                            </span>
                                                      </div>
                                                </div>
                                                <div class="col-12">
                                                      <div class="field flex align-items-center mt-3">
                                                            <p-inputSwitch name='Status' [(ngModel)] = "account.status"></p-inputSwitch>
                                                            <label for="content" class="ml-2">Hoạt động</label>
                                                      </div>
                                                </div>
                                          </div>
                                          <button type="submit" class="p-button p-component mt-2 btn-submit">
                                                <span class="p-button-label p-c">Lưu lại</span>
                                          </button>
                                    </form>
                              </div>
                        </div>
                  </p-tabView>
            </div>
      </div>
</div>