.qt-menu-nguoi-dung {
    margin: 0 auto;
    max-width: 1170px;
    margin-top: 15px;
    h3{
        font-size: 16px;
        color: #495057;
    }
    &>.menu-tab {
        margin-top: 10px;
    }
    label {
        display: block;
    }
}
::ng-deep{
    .p-dropdown {
        width: 100%;
    }
}