.qt-menu-nguoi-dung {
    margin: 0 auto;
    max-width: 1170px;
    margin-top: 15px;
    h3{
        font-size: 16px;
        color: #495057;
    }
    &>.menu-tab {
        margin-top: 10px;
    }
    label {
        display: block;
    }
}
:host::ng-deep{
    .p-dropdown {
        width: 100%;
    }

        .p-button {
            background: #0d89ec;
            border: none;
            color: #ffffff;
        }
        .p-button:enabled:hover {
            color: #1e90ff;
        }
        .p-button:enabled:active {
            border: none;
        }
        .p-button:focus {
            box-shadow: none;
        }
        .p-tieredmenu .p-menuitem-link .p-menuitem-icon {
            color: #1e90ff;
        }
    }
