<div class="quan-li-slider">
    <p-table [value]='dataList' styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col-6">
                    <div class="table-header mt-2"> Quản lí Slider</div>
                </div>
                <div class="col-6 flex justify-content-end">
                    <p-button label="Thêm mới" icon="pi pi-plus" class="mr-3" (click)="showDiaglog()"></p-button>
                    <p-dialog header="Quản lý Slider" [(visible)]="showdialog" [modal]="true" [style]="{width: '90vw'}" [draggable]="true"
                        [resizable]="false">
                    <div class="slider-form">
                        <form class="grid mt-3">
                            <div class="col-4 slider-image">
                                <img src="../../../../../assets/images/empty-image.png" alt="img" style="width:100%">
                                <label for="upload-image" (click)="showLibraryDialog()">
                                    <i class="pi pi-upload mr-2"></i>Ảnh đại diện 
                                    <span class="text-red-500">*</span>
                                </label>
                            </div>
                            <p-dialog header="Chọn Media" [(visible)]="showLibrary" [modal]="true"
                                [style]="{width: '90vw', height: '50vw'}"   >
                               <app-thu-vien (selecteImg)="selectedImg($event)"></app-thu-vien> 
                            </p-dialog> 
                            <div class="col-8 pl-5">
                               <div class="field">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-user"></i>
                                    <input id="Name" name="Name" class="p-inputtext p-component" value="" >
                                    <label for="name" class="">Tên <span class="text-red-500"> *</span></label>
                                </span>
                               </div>
                               <div class="field mt-5">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-user"></i>
                                    <input id="Name" name="Name" class="p-inputtext p-component" value="" >
                                    <label for="name" class="">Màn hình <span class="text-red-500"> *</span></label>
                                </span>
                               </div>
                               <div class="field mt-5">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-user"></i>
                                    <input id="Name" name="Name" class="p-inputtext p-component" value="" >
                                    <label for="name" class="">Sắp xếp<span class="text-red-500"> *</span></label>
                                </span>
                               </div>
                               <div class="field flex align-items-center mt-3">
                                <p-inputSwitch name ='Status' ></p-inputSwitch>
                                <label for="content" class="ml-2">Hiển thị</label>
                            </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="p-button p-component mt-2 btn-submit">
                                <span class="p-button-label p-c">Lưu lại</span></button>
                            </div>
                        </form>
                    </div>
                    </p-dialog>
                    <p-button label="Xuất Excel" icon="pi pi-upload" routerLink="/quan-li-thu-vien"></p-button>
                </div>
            </div>
        </ng-template> 
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Hình ảnh 
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Tên
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Sắp xếp
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Màn hình 
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Hiển thị
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        Hành động
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataList>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]='dataList'>
                    </p-tableCheckbox>
                </td>
                <td>
                    <img [src]="dataList?.ImageUrl" alt="avatar" class="image-news">
                </td>
                <td>
                    <div class="flex justify-content-start ">
                        {{dataList?.Name}}
                    </div>
                </td>
                <td>
                    <div class="flex justify-content-start ">
                        {{dataList?.Order}}
                    </div>
                </td>
                <td>
                    <div class="flex justify-content-start ">
                        {{dataList?.Screen}}
                    </div>
                </td>
                <td>
                    <div class="flex justify-content-end ">
                        <div *ngIf="dataList.Status == 1 " >
                            <i class="pi pi-check"></i>
                        </div>
                    </div>
                </td>
                
                <td >
                    <div class="flex justify-content-end">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary mr-2" ></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteProduct(dataList)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Không có dữ liệu</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [rows]="query.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[1, 2, 5, 10, 25, 50]"></p-paginator>
</div>


