<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div class="dang-nhap-form">
    <div class="context">
        <div class="container">
            <div class="container-left">
                <div class="container-left--description mt-5">
                    <h2>Học hiệu quả, xin chào bạn</h2>
                    <h3>Đăng ký tài khoản ngay để học miễn phí</h3>
                </div>
                <div class="container-left--background">
                    <img src="../../../assets/images/banner.png" class="container-left--image" alt="banner">
                </div>
            </div>
            <div class="container-right">
                <div class="login-wapper">
                    <div class="login-title">
                        <div class="login-title--left">
                            <h2>Đăng nhập</h2>
                        </div>
                        <div class="login-title--right">
                            <span class="subtitle">Bạn chưa có tài khoản</span>
                            <span class="register-now">Đăng ký ngay</span>
                        </div>
                    </div>
                    <form class="login-form" (ngSubmit)="logginform(loginForm)" #loginForm="ngForm">
                        <div class="form-group">
                            <div class="label">Tài khoản <span class="text-red-500">*</span></div>
                            <div class="input">
                                <i class="pi pi-phone"></i>
                                <input type="userName" id="userName" name="userName" [(ngModel)]='login.userName' required #name="ngModel"> 
                            </div>
                        </div>
                        <div class="invalid" *ngIf="submited && name.errors?.required">Trường này không được bỏ trống</div>
                        <span class="ml-2"></span>
                        <div class="form-group">
                            <div class="label">Mật khẩu <span class="text-red-500"> *</span></div>
                            <div class="input">
                                <i class="pi pi-unlock"></i>
                                <input id="password" name="password" type="text" [(ngModel)]="login.passWord" required #pass="ngModel">
                                <i class="pi pi-eye-slash right"></i>
                            </div>
                        </div>
                        <div class="invalid" *ngIf="submited && pass.errors?.required ">Trường này không được bỏ trống </div>
                        <span class="ml-2"></span>
                       <!--  <div class="login-title--right mobile">
                            <span class="subtitle">Bạn chưa có tài khoản?</span>
                            <span class="register-now">Đăng ký ngay</span>
                        </div> -->
                        <div class="login-forgot-password">Quên mật khẩu?</div>
                        <div class="login-actions">
                            <button type="submit">Đăng nhập</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>