<div class="chi-tiet-tin-tuc">
    <div class="grid">
        <div class="col-12">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <p-tabView>
                <p-tabPanel header="Thông tin bài viết">
                    <div class="grid mt-2">
                        <div class="col-3 avatar">
                            <img [src]=" UrlImg ? UrlImg : '../../../../../../assets/images/empty-image.png'" alt="avatar" style="width:100%">
                            <label for="uploadfile" (click)="showLibraryDialog()">
                                <i class="pi pi-upload"></i>
                                Ảnh đại diện
                            </label>
                            <p-dialog header="Chọn Media" [(visible)]="showLibrary" [modal]="true"
                                [style]="{width: '80vw', height: '50vw'}"   >
                               <app-thu-vien appendTo="body" (selecteImg)="selectedImg($event)"></app-thu-vien> 
                            </p-dialog> 
                        </div>
                        <div class="col-9 pl-5">
                            <form class="p-fluid" (ngSubmit)="onSave()" #dataSave="ngForm">
                                <span class="p-float-label p-input-icon-right">
                                    <i class="pi pi-user"></i>
                                    <input id="float-input" type="text" name="Name" pInputText [(ngModel)]='Title' > 
                                    <label for="float-input">Tiêu đề <span class="text-red-500"> *</span></label>
                                </span>
                                <div class="field mt-5">
                                    <span class="p-float-label p-input-icon-right">
                                        <i class="pi pi-sort-numeric-down"></i>
                                        <input name="Order" class="p-inputtext p-component p-filled" [(ngModel)]='Order'>
                                        <label for="intOrorderer" class="">Thứ tự hiện thị</label>
                                    </span>
                                </div>
                                <div class="field mt-7">
                                    <span class="p-float-label p-input-icon-right">
                                        <input name="Tags" class="p-inputtext p-component p-filled">
                                        <label for="intOrorderer" class="">Tags</label>
                                    </span>
                                </div>
                                <div class="field mt-5">
                                    <span class="p-float-label p-input-icon-right">
                                        <p-dropdown [options]="dataDropdown" optionLabel="Name" id='intOrorderer' name='selectedCategory' [(ngModel)]="selectedCategory" ></p-dropdown>
                                        <label for="intOrorderer" class="">Danh mục</label>
                                    </span>
                                </div>
                                <div class="grid">
                                    <div class="col-6">
                                        <div class="field">
                                            <label for="">Đánh giá</label>
                                            <p-rating name="danhgia" [(ngModel)]="val" [cancel]="false"></p-rating>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="field">
                                            <label for="">Hiển thị</label>
                                            <div class="inputswitch">
                                                <p-inputSwitch name='Status'></p-inputSwitch>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="field">
                                            <label for="float-input">Tiêu đề <span class="text-red-500"> *</span></label>
                                            <div class="textarea">
                                                <textarea  name='ShortContent' pInputTextarea [style]="{width: '100%', height: '20vw'}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="field">
                                            <label for="float-input">Nội dung bài viết<span class="text-red-500"> *</span></label>
                                            <div class="textarea">
                                                <textarea name='Content' pInputTextarea [style]="{width: '100%', height: '20vw'}"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="p-button p-component mt-2 btn-submit">
                                    <span class="p-button-label p-c">Lưu lại</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>