
<section class="header">
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="logo">
    </div>
    <div class="search">
        <div class="search-input">
            <input type="text" placeholder="Tìm kiếm....">
            <i class="pi pi-search"></i>
        </div>
    </div>
    <div class="authen">
        <div class="authen">
            <div class="logged-info">
                <img src="../../.././assets/images/username.png" alt="username">
                <span class="username"> admin</span>
                <p-splitButton
                [model]="items"
              ></p-splitButton>
            </div>
        </div>
    </div>      
</section>