
<router-outlet>
    <ngx-spinner bdColor = "rgba(116,145,191,0.8)" size = "large" color = "#fff" type="timer" [fullScreen] = "true"><p style="color: white" > Đang tải </p></ngx-spinner>
    <p-confirmDialog [style]="{width: '15vw'}"  [baseZIndex]="10000" acceptLabel="Đồng ý" rejectLabel="Không"></p-confirmDialog>
      <p-toast position="top-right"  [baseZIndex]="5000">
          <ng-template  let-message pTemplate="message">
              <div class="flex flex-column" style="flex: 1">
                  <div class="text-right">
                      <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
                      <h4>{{message.summary}}</h4>
                      <p>{{message.detail}}</p>
                  </div> 
              </div>
          </ng-template>
      </p-toast>
</router-outlet>
