<div class="quan-li-giao-vien">
    <p-table [value]='dataList' styleClass="p-datatable-customers" [rowHover]="true" [rows]="10"
        [showCurrentPageReport]="true" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="grid">
                <div class="col-6">
                    <div class="table-header mt-2"> Quản lí giáo viên</div>
                </div>
                <div class="col-6 flex justify-content-end">
                    <p-button label="Thêm mới" icon="pi pi-plus" class="mr-3" routerLink="/giao-vien/them-moi"></p-button>
                    <p-button label="Xuất Excel" icon="pi pi-upload" routerLink="/quan-li-thu-vien"></p-button>
                </div>
            </div>
        </ng-template> 
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Hình ảnh 
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Họ tên 
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Mô tả ngắn
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Trạng thái 
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        Hành động
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-dataList>
            <tr class="p-selectable-row">
                <td>
                    <p-tableCheckbox [value]='dataList'>
                    </p-tableCheckbox>
                </td>
                <td>
                    <img [src]="dataList?.Avatar" alt="avatar" class="image-news">
                </td>
                <td>
                    <div class="flex justify-content-start ">
                        {{dataList?.FullName}}
                    </div>
                </td>
                <td>
                    <div [innerHtml]='dataList?.DescriptionShort'></div>
                </td>
                <td>
                    <div class="flex justify-content-end ">
                        <div *ngIf="dataList.Status == 1 " >
                            <i class="pi pi-check"></i>
                        </div>
                    </div>
                </td>
                <td >
                    <div class="flex justify-content-end">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-secondary mr-2" ></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteTeacher(dataList)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">Không có dữ liệu</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [rows]="query.pageSize" [totalRecords]="totalRecord" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[1, 2, 5, 10, 25, 50]"></p-paginator>
</div>


